<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/24dacea17b.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- main container box starts -->
  <div class="main-container">
    <!-- header starts -->
    <header class="main-container__title main-container__title--color main-container__title--size">
      <i class="fas fa-check-square"></i>
      <h2>My Todos</h2>
    </header>
    <!-- header ends -->

    <!-- add new input starts -->
    <form action="" class="main-container__add-new-item">
      <input type="text" name="addItem" id="addItem" placeholder="Add new...">
      <button id="add">Add</button>
    </form>
    <!-- add new input ends -->

    <!-- filter and sort section starts -->
    <div class="main-container__items-filter-sort">
      <!-- filter section starts-->
      <form action="" class="filter">
        <label for="filter">Filter</label>
        <select id="filter" name="filter">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="active">Active</option>
          <option value="due-date">Has due date</option>
        </select>
      </form>
      <!-- filter section ends-->

      <!-- sort section starts-->
      <form action="" class="sort">
        <label for="sort">Sort</label>
        <select id="sort" name="sort">
          <option value="addedDate">Added date</option>
          <option value="active">Due date</option>
        </select>
        <i class="fas fa-sort-amount-down-alt"></i>
      </form>
      <!-- sort section ends -->

    </div>
    <!-- filter and sort section ends -->


    <!-- checklist items starts -->
    <div class="main-container__checklist-items">
      <form>
        <!-- first checklist row starts -->
        <div class="checklist-row">
          <div class="form-group">
            <input type="checkbox" id="item1" name="item1" value="item1">
            <label for="item1">Bur groceries for next week</label><br>
          </div>
          <div class="icons-group">
            <i class="fas fa-pen"></i>
            <i class="fas fa-trash-alt"></i>        </div>
        </div>
        <!-- first checklist row ends-->

        <!-- second checklist row starts-->
        <div class="checklist-row">
          <div class="form-group">
            <input type="checkbox" id="item2" name="item2" value="item2">
            <label for="item2"> Renew car insurance</label><br>
          </div>
          <div class="icons-group">
            <i class="fas fa-pen"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <!-- second checklist row ends-->

        <!-- third checklist row starts-->
        <div class="checklist-row">
          <div class="form-group">
            <input type="checkbox" id="item3" name="item3" value="item3">
            <label for="item3"> Sign up for online course Edit Test</label>
          </div>
          <div class="icons-group">
            <i class="fas fa-pen"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <!-- third checklist row ends-->
      </form>
    </div>
    <!-- checklist items ends -->











    <!-- main container box ends -->
  </div>
</body>

</html>