<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/24dacea17b.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- main container box starts -->
  <div class="main-container">
    <!-- header starts -->
    <header class="main-container__title main-container__title--color main-container__title--size">
      <i class="fas fa-check-square"></i>
      <h2>My Todo-s</h2>
    </header>
    <!-- header ends -->

   













    <!-- main container box ends -->
  </div>
</body>

</html>