$gray: #f2f4f7;
$blue: #1f75e6;
$grayDark: #53575c;

.main-container {
  width: 80%;
  margin: auto;
  background-color: $gray;
  padding: 30px 20px;
  margin-top: 5%;
  box-shadow: 0 0 10px #cac9c9;
}
